{% extends "shared/base.html" %}
{% block sidebar_nav %}
<div class="sidebar-section">Supervision</div>
<a href="{% url 'directeur:tableau_de_bord' %}" {% if request.resolver_match.url_name == 'tableau_de_bord' %}class="active"{% endif %}>
  <i class="fas fa-home fa-fw icone"></i><span>Tableau de bord</span>
</a>
<a href="{% url 'directeur:propositions' %}" {% if request.resolver_match.url_name == 'propositions' %}class="active"{% endif %}>
  <i class="fas fa-gavel fa-fw icone"></i><span>Propositions jury</span>
</a>
<div class="sidebar-section">Administration</div>
<a href="{% url 'directeur:utilisateurs' %}" {% if 'utilisateur' in request.resolver_match.url_name %}class="active"{% endif %}>
  <i class="fas fa-users-cog fa-fw icone"></i><span>Utilisateurs</span>
</a>
<a href="{% url 'directeur:creer_utilisateur' %}">
  <i class="fas fa-user-plus fa-fw icone"></i><span>Créer un compte</span>
</a>
<a href="{% url 'directeur:departements' %}" {% if request.resolver_match.url_name == 'departements' %}class="active"{% endif %}>
  <i class="fas fa-sitemap fa-fw icone"></i><span>Départements</span>
</a>
{% endblock %}
{% block url_notifs %}{% url 'directeur:tableau_de_bord' %}{% endblock %}
{% block contenu %}{% block contenu_directeur %}{% endblock %}{% endblock %}
